@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-Regular.ttf');
}

::-webkit-scrollbar {
    display: none;
}


/* Colors */

:root {
    --accent1: #F1C40F;
    --accent2: #37DBD0;
    --bg: #1E003D;
    --fg: #ECF0F1;
    --sidebar: #4E046D;
}


/* Page structure */

html, body {
    margin: 0;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    flex-direction: row;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.6;
    min-height: 100vh;
}

#game {
    align-items: center;
    display: flex;
    flex: 1;
}

#sidebar {
    background-color: var(--sidebar);
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    max-width: 260px;
    overflow-y: scroll;
}

header, main {
    padding: 16px;
}

main {
    flex: 1;
    padding-bottom: 0;
    padding-top: 0;
}


/* Page content */

canvas {
    border: 1px solid var(--accent1);
    display: block;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--accent1);
    line-height: 1.2;
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin: 10px 0;
}

.control {
    color: var(--accent2);
    font-weight: bold;
}

#debug {
    display: none;
}
